.wrapper {
  display: flex;
  flex-direction: column;

  .button-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    .icons-heart-red{
      color: #FE2C55;
    }
    .icons-favourites-yellow{
      color: #FACE15;
    }
    .icons {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 50%;
      transition: all 200ms ease-in-out 0s;
      width: 48px;
      height: 48px;
      background-color: rgba(22, 24, 35, 0.06);
      margin-top: 8px;
      margin-bottom: 6px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: rgba(22, 24, 35, 0.75);
    }
  }
}
